@media (min-width: 992px) {

    .contact-section{
        margin-top: 2rem;
        height: auto;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        gap: 2rem;
    }

    .form-wrapper {
        width: 60%;
        margin: 0 auto;
    }

}

/* Mobile only (max-width: 991px) */
@media (max-width: 991px) {

    .contact-section{
        margin-top: 80rem;
        height: auto;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        gap: 2rem;
    }

    .form-wrapper {
        width: 80%;
    }


}
