@media (min-width: 992px) {
    .footer-section{
        width: 90%;
        height: auto;
        border-radius: 1rem;
    }
}

/* Mobile only (max-width: 991px) */
@media (max-width: 991px) {
    .footer-section{
        width: 100%;
        height: auto;
        border-radius: 1rem;
    }
}
